<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel='stylesheet' href='/stylesheets/home.css' />
</head>
<body>
<nav class="navbar-dark">
    <a class="navbar-brand" href="/">Home</a>

    <ul class="navbar-nav">

            <a class="nav-link" href="/admin/articles">Articles</a>


    </ul>

</nav>
<div class="bg-img1"></div>

</body>
</html>